@import './reset.scss';

/*===================================================
                      Positioning
===================================================*/
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

